<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="console" xsi:type="Console">
      <layout xsi:type="${MicrosoftConsoleLayout:TimestampFormat=${longdate}}" />
    </target>
    <target name="file" xsi:type="File" fileName="C:\Infinitt\Log\dotnet-${shortdate}.log">
    </target>
    <!--target name="audit" xsi:type="" /-->
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" maxlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Warn" writeTo="file" />
  </rules>
</nlog>
